<div class="as-bar">
  <% if request.subdomain == 'admin' %>
    <%= link_to('/board', class: 'px-4') do %>
      <%= svg_tag 'angle-left', kind: 'regular' %>
    <% end %>
  <% else %>
    <%= link_to({ controller: '/my/home' }, class: 'px-4') do %>
      <%= svg_tag 'angle-left', kind: 'regular' %>
    <% end %>
  <% end %>
  <span class="bar-title"><%= t('.title') %></span>
  <i class="px-5"></i>
</div>
