<th>
  <p class="text-info"><%= Auth::Session.human_attribute_name(:identity) %></p>
  <p class="text-success"><%= Auth::Session.human_attribute_name(:uid) %></p>
  <p class="text-danger"><%= Auth::Session.human_attribute_name(:id) %></p>
</th>
<th>
  <p class="text-info"><%= Auth::Session.human_attribute_name(:user_id) %></p>
  <p class="text-success"><%= Auth::Session.human_attribute_name(:member_id) %></p>
</th>
<th>
  <p><%= Auth::Session.human_attribute_name(:created_at) %></p>
  <p><%= Auth::Session.human_attribute_name(:expires_at) %></p>
</th>
<th>
  <p class="text-success"><%= Auth::Session.human_attribute_name(:online_at) %></p>
  <p><%= Auth::Session.human_attribute_name(:offline_at) %></p>
</th>
<th>
  <p><%= Auth::Session.human_attribute_name(:ip_address) %></p>
</th>
