<th>
  <p><%= Auth::Session.human_attribute_name(:id) %></p>
  <p><%= Auth::Session.human_attribute_name(:host) %></p>
  <p><%= Auth::Session.human_attribute_name(:ip_address) %></p>
  <p><%= Auth::Session.human_attribute_name(:user_agent) %></p>
</th>
<th></th>
<th>
  <p><%= Auth::Session.human_attribute_name(:created_at) %></p>
  <p><%= Auth::Session.human_attribute_name(:expires_at) %></p>
</th>
<th>
  <p class="text-success"><%= Auth::Session.human_attribute_name(:online_at) %></p>
  <p><%= Auth::Session.human_attribute_name(:offline_at) %></p>
</th>
