<td>
  <p class="family-monospace text-danger"><%= model.id %></p>
  <p class="family-monospace"><%= model.host %></p>
  <p><%= model.ip_address %></p>
  <p class="size-7"><%= model.user_agent %></p>
</td>
<td>
  <% if model.identity.present? %>
    <p>
      <span class="tag"><%= Auth::Session.human_attribute_name(:identity) %></span>
      <span class="family-monospace"><%= model.identity %></span>
    </p>
  <% end %>
  <% if model.uid.present? %>
    <p>
      <span class="tag"><%= Auth::Session.human_attribute_name(:uid) %></span>
      <span class="family-monospace"><%= model.uid %></span>
    </p>
  <% end %>
  <% if model.user_id %>
    <p>
      <span class="tag"><%= Auth::Session.human_attribute_name(:user_id) %></span>
      <span class="family-monospace"><%= model.user_id %></span>
    </p>
  <% end %>
  <% if model.respond_to?(:member_id) && model.member_id %>
    <p>
      <span class="tag"><%= Auth::Session.human_attribute_name(:member_id) %></span>
      <span class="family-monospace"><%= model.member_id %></span>
    </p>
  <% end %>
</td>
<td>
  <p><time data-controller="time" class="text-grey"><%= model.created_at.to_fs(:iso8601) %></time></p>
  <p>
    <time data-controller="time" class="<%= model.expired? ? 'text-danger' : 'text-success' %>"><%= model.expires_at.to_fs(:iso8601) %></time>
  </p>
</td>
<td>
<% if model.online? %>
  <%= svg_tag 'wifi', icon: 'text is-small text-success' %>
  <time data-controller="time" data-format="human"><%= model.online_at.to_fs(:iso8601) %></time>
<% elsif model.offline_at.present? %>
  <%= svg_tag 'wifi-exclamation', icon: 'text is-small text-grey' %>
  <time data-controller="time" data-format="human"><%= model.offline_at.to_fs(:iso8601) %></time>
<% end %>
</td>
