<%= form_with scope: nil, url: { action: 'create' }, wrap: { input: 'field control' }, all: { normal: nil }, id: 'login_form', class: 'is-fullwidth' do |f| %>
  <%= f.hidden_field :state, value: params[:state] %>
  <%= f.hidden_field :identity, value: params[:identity] %>
  <%= f.password_field :password, autofocus: true, placeholder: Auth::User.human_attribute_name(:password), class: 'input is-medium' %>
<% end %>
<div id="alert"></div>
<%= submit_tag t('auth.sign.login.title'), form: 'login_form', class: 'button is-primary is-medium is-fullwidth mt-4' %>
