<div id="" class="is-fullwidth">
  <h2 class="title is-3 text-centered text-primary mb-6"><%= t('.password_new.title') %></h2>
  <p class="mb-3">
    <span>您的手机号为：</span>
    <span><%= params[:identity] %></span>
  </p>
  <%= form_with scope: nil, url: { action: 'password_create' }, before_wrap: { submit: nil }, wrap: { input: 'field control', submit: nil }, all: { normal: nil, submit: nil } do |f| %>
    <% params.permit(:uid, :state, :request_id).each do |key, value| %>
      <%= f.hidden_field key, value: value, id: nil %>
    <% end %>
    <%= f.hidden_field :identity, value: params[:identity] %>
    <%= f.password_field :password, autofocus: true, placeholder: Auth::User.human_attribute_name(:password), class: 'input is-medium' %>
    <div id="alert"></div>
    <%= f.submit t('.password_create.title'), class: 'button is-primary is-medium is-fullwidth mt-4' %>
  <% end %>
</div>
