<h2 class="title is-3 text-centered text-primary mb-6"><%= t('.title') %></h2>
<%= form_with url: { action: 'token_create' }, id: 'token_form' do %>
<% end %>
<div data-controller="form">
  <div class="field control">
    <%= text_field_tag :identity, nil, form: 'token_form', placeholder: Auth::Account.human_attribute_name(:identity), autofocus: true, class: 'input is-medium' %>
  </div>
  <div class="field">
    <div class="control is-expanded">
      <%= text_field_tag :token, nil, form: 'token_form', placeholder: Auth::VerifyToken.human_attribute_name(:token), autocomplete: 'off', class: 'input is-medium' %>
    </div>
  </div>
  <div id="alert"></div>
  <%= submit_tag t('auth.sessions.token_create.title'), form: 'token_form', class: 'button is-primary is-medium is-fullwidth mt-4' %>
</div>