<h2 class="title is-3 text-centered text-primary mb-6"><%= t('.token_create.title') %></h2>
<%=
  form_with(
    model: user,
    scope: '',
    url: { controller: 'passwords', action: 'update', token: user.password_reset_token },
    label: nil,
    placeholder: true,
    before_wrap: { submit: nil },
    wrap: { input: nil, submit: nil },
    all: { normal: 'field', submit: nil }
  ) do |f|
%>
  <%= f.hidden_field :identity, value: identity, id: nil %>
  <%= f.password_field :password, class: 'input is-medium' %>
  <%= f.password_field :password_confirmation, class: 'input is-medium' %>
  <%= f.submit '确认', class: 'button is-fullwidth is-medium' %>
<% end %>
