<div>
  <dt><%= Auth::OauthUser.human_attribute_name(:type) %></dt>
  <dd><%= @oauth_user.type_i18n %></dd>
</div>
<div>
  <dt><%= Auth::OauthUser.human_attribute_name(:user_id) %></dt>
  <dd><%= @oauth_user.user_id %></dd>
</div>
<div>
  <dt><%= Auth::OauthUser.human_attribute_name(:name) %></dt>
  <dd><%= @oauth_user.name %></dd>
</div>
<div>
  <dt><%= Auth::OauthUser.human_attribute_name(:avatar_url) %></dt>
  <dd><%= image_tag @oauth_user.avatar_url if @oauth_user.avatar_url.present? %></dd>
</div>
<div>
  <dt><%= Auth::OauthUser.human_attribute_name(:uid) %></dt>
  <dd><%= @oauth_user.uid %></dd>
</div>
<div>
  <dt><%= Auth::OauthUser.human_attribute_name(:unionid) %></dt>
  <dd><%= @oauth_user.unionid %></dd>
</div>
<div>
  <dt><%= Auth::OauthUser.human_attribute_name(:auth_token) %></dt>
  <dd data-controller="clipboard">
    <div class="text-left">
      <span data-clipboard-target="source" class="is-wrap"><%= @oauth_user.auth_token %></span>
      <span data-action="click->clipboard#copy" class="tag is-badge is-danger">复制</span>
      <span data-clipboard-target="toast" class="tag is-badge is-success display-none">
        <%= svg_tag 'check' %>
      </span>
    </div>
  </dd>
</div>
