<td>
  <%= button_to({ controller: 'users', action: 'show', id: model.user_id }, text: true) do %>
    <%= svg_tag 'user' %>
    <span class="ml-1"><%= model.user.name %></span>
  <% end if model.user %>
</td>
<td><%= model.identity %></td>
<td>
<% if model.confirmed %>
  <%= svg_tag 'check', class: 'icon is-small text-success' %>
<% end %>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
