<td>
  <%= button_to({ controller: 'users', action: 'show', id: model.user_id }, text: true) do %>
    <%= svg_tag 'user' %>
    <span class="ml-1"><%= model.user.name %></span>
  <% end if model.user %>
</td>
<td><%= model.identity %></td>
<td>
<% if model.confirmed %>
  <%= svg_tag 'check', class: 'icon is-small text-success' %>
<% end %>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'eye', class: 'icon text-info' %>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, form: { data: { turbo_confirm: t('.destroy.confirm') } }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
    <% end %>
  </div>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'sessions', identity: model.identity }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'key', class: 'icon text-info' %>
      <span class="ml-1"><%= t('.sessions.index.title') %></span>
    <% end %>
    <%= button_to({ action: 'prune', id: model.id }, method: :delete, form: { data: { turbo_confirm: t('.prune.confirm') } }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'trash-can', class: 'icon text-danger-dark' %>
      <span class="ml-1"><%= t('.prune.title') %></span>
    <% end %>
  </div>
</td>
